<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/publication']">Publications</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
          <ul class='nav navbar-nav'>
            <li [routerLinkActive]="['link-active']">
              <a [routerLink]="['/book']">
                <span class='glyphicon glyphicon-book'></span> Books
              </a>
            </li>
            <li [routerLinkActive]="['link-active']">
              <a [routerLink]="['/brochure']">
                <span class='glyphicon glyphicon-file'></span> Brochures
              </a>
            </li>
            <li [routerLinkActive]="['link-active']">
              <a [routerLink]="['/magazine']">
                <span class='glyphicon glyphicon-modal-window'></span> Magazines
              </a>
            </li>
            <li [routerLinkActive]="['link-active']">
              <a [routerLink]="['/publicationhouse']">
                <span class='glyphicon glyphicon-print'></span> Publication houses
              </a>
            </li>
          </ul>
        </div>
    </div>
</div>
