<h2>Books</h2>
<form novalidate #myForm="ngForm">

  <kendo-grid [kendoGridBinding]="books"
              [height]="500"
              [pageable]="true"
              [sortable]="true"
              [navigable]="true"
              [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
              (remove)="removeHandler($event)"
              (dataStateChange)="onStateChange($event)"
              (edit)="editHandler($event)"
              (cancel)="cancelHandler($event)"
              (save)="saveHandler($event)"
              (add)="addHandler($event)">
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand type="button">Add new</button>
    </ng-template>
    <kendo-grid-column field="name" title="Book Title">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input [(ngModel)]="dataItem.name" kendoGridFocusable name="Book title" required class="k-textbox" />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="author" title="Book author">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input [(ngModel)]="dataItem.author" kendoGridFocusable name="Book author" required class="k-textbox" />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="yearOfPublishing" editor="numeric" title="Year of Publishing">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input [(ngModel)]="dataItem.yearOfPublishing" kendoGridFocusable required min="1900"
               max="2020" class="k-textbox" name="Year" type="number" />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="publicationHouses" editor="multiSelectEditor" title="Publication houses">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{pubHouses(dataItem.id)}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
            <kendo-multiselect [data]="publicationHouses" [valueField]="'id'" [textField]="'name'" [(ngModel)]="dataItem.publicationHouses"></kendo-multiselect>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="" width="220">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridEditCommand type="button" class="k-primary">Edit</button>
        <button kendoGridRemoveCommand type="button">Remove</button>
        <button kendoGridSaveCommand type="button" [disabled]="myForm.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
        <button kendoGridCancelCommand type="button">{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</form>
