<nav class="navbar navbar-inverse navbar-top">
    <div class="container-fluid">
        <ul class='nav navbar-nav'>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['book']">
                    <span class='glyphicon glyphicon-book'></span> Books
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['brochure']">
                    <span class='glyphicon glyphicon-file'></span> Brochures
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['magazine']">
                    <span class='glyphicon glyphicon-modal-window'></span> Magazines
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['publicationhouse']">
                    <span class='glyphicon glyphicon-print'></span> Publication houses
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['publication']">
                    All publications
                </a>
            </li>
        </ul>
        <div class="navbar-header navbar-right">
                <p class="navbar-brand">Hello, {{userName}}</p>
                <a class='navbar-brand' [routerLink]="['/account/login']">
                    <span class='glyphicon glyphicon-log-out'></span> LogOut
                </a>
        </div>
    </div>
</nav>
